{% extends "base.html" %}



{% block title %}

    {{ user.username }}'s tasks

{% endblock title %}



{% block pageheader %}

    <a href="{{ user.get_absolute_url }}">{{ user.username }}</a>'s tasks

{% endblock pageheader %}



{% block content %}

<ul>{% for task in object_list %}
<li>
    {% if task.is_done %}
        <a href="mark_undone/{{ task.pk }}">&#x2611</a>
        

        <a class="task_completed" href="{{ task.get_absolute_url }}">{{ task.text }}</a>  <a class="edit_link" href="edit/{{ task.pk }}">(edit)</a>

    {% else %}
        <a href="mark_done/{{ task.pk }}">&#x2610</a>
        
        <a class="task_uncompleted" href="{{ task.get_absolute_url }}">{{ task.text }}</a>  <a class="edit_link" href="edit/{{ task.pk }}">(edit)</a>

    {% endif %}

    
</li>
{% endfor %}</ul>

<a href="add">Add task</a>

{% endblock content %}
